*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
video{
    width: 100%;
    position: absolute;
    top: 0;
    z-index:-1;
    object-fit: cover;
    object-position: center;
}
header{
    background-color: rgba(0, 0, 255, 0.192);
    backdrop-filter: blur(3px);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.text{
    background-color: rgba(0, 0, 255, 0.192);
    height: 100%;
    backdrop-filter: blur(3px);
    padding: 2rem;
    display: flex;
    align-items: center ;
    justify-content: space-around;
}
.text div{
    width: 50%;
    line-height: 20px;
}
.text h1{
    margin-bottom: 20px;
    color: aqua;
}
.text button{
    padding: 7px 12px ;
    color: white;
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
}
.rr{
    color: aqua;
}
.fa{
    margin-left: 15px;
}
.icons{
    font-size: 40px;
}